{% load static %}

{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Eiscafe vanila, vanila, EISCAFE VANILA, pinsa, pizza, pinsa  bad reichenhall, Pinsa  Bad Reichenhall, PINZA  BAA REECHENHAAA,Pizza, PIZA, pinsa margherita, pinsa salami, pinsa parma, pinsa tonno
   pinsa verdure, pinsa caprese, pinsa regina, pinsa 4 käse, pinsa napoli, pinsa vulcano, pinza meeresfrüchte, pinsa chef,
   thunfisch salat, cesar salat, gemischter salat, käsebrot, wiener ">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" href="{% static 'images/zut-logo.gif' %}">

  <title>TSV Stüberl 1862</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3b444b;">

    <div class="container">
  <a class="navbar-brand mr-auto" href="{% url 'home' %}">
    <img src="{% static 'images/zut-logo.gif' %}" width="160" height="80" class="d-inline-block align-top" alt="Vanila Logo">
    <span style="color: white; font-weight: bold;">TSV Stüberl 1862</span>
  </a>
</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon animated-icon">☰</span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'video:index' %}" >Video</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'blog:all_blogs' %}" >Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% static 'images/menu1.pdf' %}">Menu PDF</a>
  <li class="nav-item">
  <a class="nav-link facebook-icon" href="https://www.facebook.com/profile.php?id=61554501821944&mibextid=LQQJ4d" target="_blank">
    <img src="{% static 'images/facebook24.png' %}" alt="Facebook">
  </a>
</li>
<li class="nav-item">
  <a class="nav-link instagram-icon" href="https://www.instagram.com/tsv_stuberl_1862/" target="_blank">
    <img src="{% static 'images/instagram.png' %}" alt="Instagram">
  </a>
</li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Produkte
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
   <a class="dropdown-item" href="{% url 'pinza_app:pinza' %}">Pinza</a>
   <a class="dropdown-item" href="{% url 'hauptgerichte:hauptgerichte' %}">Hauptgerichte</a>
   <a class="dropdown-item" href="{% url 'brotzeit:brotzeit' %}">Brotzeit</a>
   <a class="dropdown-item" href="{% url 'salate:salate' %}">Salate</a>
   <a class="dropdown-item" href="{% url 'desserts:desserts' %}">Desserts</a>
</div>
  </li>
</ul>
      </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="footer" style="background-color: #3b444b; color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 unsere Seite</p>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="mailto:eiscafe.vanilla@outlook.de" style="color: white;">EMAIL: eiscafe.vanilla@outlook.de</a></li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="tel:+4915906551348" style="color: white;">TEL: +49 159 065 513 48</a></li>
          </ul>
          <ul class="list-inline">
            <li class="list-inline-item" style="color: white;">ADRESSE: Reichenbachstr. 15b, 83435 Bad Reichenhall</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="{% static 'js/uredi.js' %}"></script>

  <script>
    function acceptCookies() {
      console.log("Funkcija acceptCookies je pozvana.");
      // Postavite kolačić koji označava da su kolačići prihvaćeni
      document.cookie = "cookies_accepted=true; expires=Fri, 31 Dec 9999 23:59:59 UTC; path=/;";
      document.getElementById("cookie-notice").style.display = "none";
    }

    function rejectCookies() {
      // Obrišite kolačić koji označava da su kolačići prihvaćeni
      document.cookie = "cookies_accepted=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      document.getElementById("cookie-notice").style.display = "none";
    }

    // Provjerite ako je korisnik već prihvatio kolačiće
    if (document.cookie.indexOf("cookies_accepted=true") !== -1) {
      document.getElementById("cookie-notice").style.display = "none";
    }
  </script>
</body>
</html>
