{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
  {{ '<' }}{{ '!DOCTYPE html>' }}
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <div class="row justify-content-center my-3">
    <div class="col-5">
      <img src="{% static 'images/vanila111.jpg' %}" class="img-fluid">
    </div>
  </div>

    <title>VIDEO</title>
  </head>
  <body>
    <div class="container">
      {% for x in video %}
        <div class="card mb-3" style="background-color: #f58989">
          <div class="card-body">
            <h3 class="card-title text-center mt-2 mb-2">{{ x.caption }}</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <video class="embed-responsive-item" controls>
                <source src="{{ x.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
  </html>
  <br><br><br>
{% endblock %}
