{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

  <div class="row justify-content-center my-3">
    <div class="col-5">
      <img src="{% static 'images/vanila111.jpg' %}" class="img-fluid">
    </div>
  </div>

<h1 id="blogtitle" class="font-weight-bold text-center"></h1>

<h3 class="text-center mb-5">Vedran has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>

{% for blog in blogs %}
<div class="card my-3" style="background-color: #f7faf9;">
  <div class="card-body">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2 class="card-title text-center text-black">{{ blog.title }}</h2>
    </a>
    <h5 class="card-subtitle text-center text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
    <p class="card-text text-center text-black">{{ blog.description|striptags|truncatechars:40}}</p>
  </div>
</div>

{% endfor %}
<br><br><br>
{% endblock %}