{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<!--
  <div class="row justify-content-center my-3">
    <div class="col-5">
      <img src="{% static 'images/vanila111.jpg' %}" class="img-fluid">
    </div>
  </div> -->

<h1 id="blogtitle" class="font-weight-bold text-center"></h1>

<h3 class="text-center mb-5">Admin has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>

{% for blog in blogs %}
<div class="card my-3" style="background-color: #3b444b;">
  <div class="card-body">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2 class="card-title text-center text-black">{{ blog.title }}</h2>
    </a>
    <h5 class="card-subtitle text-center text-white">{{ blog.date|date:'M d Y'|upper }}</h5>
    <p class="card-text text-center text-white">{{ blog.description|striptags|truncatechars:40}}</p>
  </div>
 {% if blog.url %}
<div class="card-img-top image-frame mb-2 p-2 text-center" style="overflow: hidden;"> <!-- Dodali smo 'text-center' za centriranje -->
  <a href="{{ blog.url }}">
    <img src="{{ blog.image.url }}" width="600" height="300" alt="Opis slike" class="mx-auto d-block" style="max-width: 100%; height: auto;"> <!-- Dodali smo stilove izravno na sliku -->
  </a>
</div>
{% else %}
<div class="card-img-top image-frame mb-2 p-2 text-center"> <!-- Dodali smo 'text-center' za centriranje -->
  <img src="{{ blog.image.url }}" width="600" height="300" alt="Opis slike" class="mx-auto d-block" style="max-width: 100%; height: auto;"> <!-- Dodali smo stilove izravno na sliku -->
</div>
{% endif %}

</div>

{% endfor %}
<br><br><br><br><br><br><br>
{% endblock %}