{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
  <div class="row justify-content-center my-3">
    <div class="col-5">
      <img src="{% static 'images/vanila111.jpg' %}" class="img-fluid">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <br/>

      <br>
      <div class="container">
  <div class="row">
    {% for desserts in desserts %}
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4 h-100" style="background-color: #f58989"> <!-- Dodali smo klasu "card" za stiliziranje kartice -->
          {% if desserts.url %}
            <a href="{{ desserts.url }}">
              <img src="{{ desserts.image.url }}" class="card-img-top image-frame"> <!-- Dodali smo klasu "image-frame" za stiliziranje okvira slike -->
            </a>
          {% else %}
            <img src="{{ desserts.image.url }}" class="card-img-top image-frame"> <!-- Dodali smo klasu "image-frame" za stiliziranje okvira slike -->
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ desserts.title }}</h5>
            <p class="card-text">{{ desserts.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

    </div>
  </div>

  <br><br><br>
{% endblock %}

